/**:not(.slate_button):after*/
/**:before , */
/**:after*/

* {
	box-shadow: none !important;
	text-shadow: none !important;
	text-decoration: none !important;
  border-color: #212121 !important;
}
*:not(.language-color) /*:not(span):not(yt-formatted-string)*/
{
  background-color : black !important;
  color : #727983 !important;
}


body ,
html {
  background-image: none !important;
  /*background-color : black !important;*/
}

a:link {
  /*color: #607088 !important;*/
  color: #40526b !important
}

a:visited {
  /*color: #727983 !important;*/
  color: #607088 !important;
}

a:hover {
  color : #757e89 !important;
}

a:clicked {
	color : #757e89 !important;
}

::selection {
	color:#8e96a0 !important;
	background-color: rgba(0, 3, 99, 0.19) !important
}

::-webkit-scrollbar-track,
 ::-webkit-scrollbar-corner {
  background-color: black;
}

::-webkit-scrollbar {
  cursor: default;
  width: 2px;
  height: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #0e0e0e;
}

img, a img {
	opacity : 0.50  !important;
  background-color: gray !important;
}

.recaptcha-checkbox-borderAnimation,
.recaptcha-checkbox-checkmark,
input {
  border: 1px solid #313131 !important;
  background-image: none !important;
}

embed {
  opacity: 0.4;
  filter: invert(1);
}


/*span {*/
  /*background-color: rgba(0, 0, 0, 0) !important*/
/*}*/

/*svg {*/
  /*stroke: #838383 !important;*/
/*}*/

/*<github> */
.plain, .readme h3 , .js-navigation-item, table.files td {
  border: none !important;
}
.btn {
  background-image: none !important;
}
.markdown-body {
  background-color: black !important;
  border: none !important;
}

div.border-gray-light {
    border-color: #313131 !important;
}
div.border-top {
    border-top: 1px #313131 solid !important;
}
.color-block.language-color, .repository-lang-stats-graph {
  opacity: 0.5 !important;
}
.dropdown-caret {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}

.markdown-body .highlight pre {
  /*background-color: #060606 !important;*/
  border: 1px solid #313131 !important;
}

.user-profile-sticky-bar::after {
  background-color: black !important;
}

li.border {
  border-color: #212121 !important;
}

.js-gist-file-update-container.js-task-list-container.file-box a:hover {
  background-color: transparent !important;
}

/*!
 * GitHub Dark v0.5.0
 * Copyright (c) 2012 - 2017 GitHub, Inc.
 * Licensed under MIT (https://github.com/primer/github-syntax-theme-generator/blob/master/LICENSE)
 */

.pl-c /* comment, punctuation.definition.comment, string.comment */ {
  color: #959da5 !important;
  /*color: #AEAEAE !important;*/
  /*font-style: italic !important;*/
}

.pl-c1 /* constant, entity.name.constant, variable.other.constant, variable.language, support, meta.property-name, support.constant, support.variable, meta.module-reference, markup.quote, markup.raw, meta.diff.header */,
.pl-s .pl-v /* string variable */ {
  color: #c8e1ff !important;
}

.pl-e /* entity */,
.pl-en /* entity.name */ {
  color: #b392f0 !important;
}

.pl-smi /* variable.parameter.function, storage.modifier.package, storage.modifier.import, storage.type.java, variable.other */,
.pl-s .pl-s1 /* string source */ {
  color: #f6f8fa !important;
}

.pl-ent /* entity.name.tag */ {
  color: #7bcc72 !important;
}

.pl-k /* keyword, storage, storage.type */ {
  color: #ea4a5a !important;
}

.pl-s /* string */,
.pl-pds /* punctuation.definition.string, source.regexp, string.regexp.character-class */,
.pl-s .pl-pse .pl-s1 /* string punctuation.section.embedded source */,
.pl-sr /* string.regexp */,
.pl-sr .pl-cce /* string.regexp constant.character.escape */,
.pl-sr .pl-sre /* string.regexp source.ruby.embedded */,
.pl-sr .pl-sra /* string.regexp string.regexp.arbitrary-repitition */ {
  color: #79b8ff !important;
}

.pl-v /* variable */,
.pl-ml /* markup.list, sublimelinter.mark.warning */ {
  color: #fb8532 !important;
}

.pl-bu /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */ {
  color: #d73a49 !important;
}

.pl-ii /* invalid.illegal */ {
  color: #fafbfc !important;
  background-color: #d73a49 !important;
}

.pl-c2 /* carriage-return */ {
  color: #fafbfc !important;
  background-color: #d73a49 !important;
}

.pl-c2::before /* carriage-return */ {
  content: "^M";
}

.pl-sr .pl-cce /* string.regexp constant.character.escape */ {
  font-weight: bold !important;
  color: #7bcc72 !important;
}

.pl-mh /* markup.heading */,
.pl-mh .pl-en /* markup.heading entity.name */,
.pl-ms /* meta.separator */ {
  font-weight: bold !important;
  color: #0366d6 !important;
}

.pl-mi /* markup.italic */ {
  font-style: italic !important;
  color: #f6f8fa !important;
}

.pl-mb /* markup.bold */ {
  font-weight: bold !important;
  color: #f6f8fa !important;
}

.pl-md /* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */ {
  color: #b31d28 !important;
  background-color: #ffeef0 !important;
}

.pl-mi1 /* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */ {
  color: #176f2c !important;
  background-color: #f0fff4 !important;
}

.pl-mc /* markup.changed, punctuation.definition.changed */ {
  color: #b08800 !important;
  background-color: #fffdef !important;
}

.pl-mi2 /* markup.ignored, markup.untracked */ {
  color: #2f363d !important;
  background-color: #959da5 !important;
}

.pl-mdr /* meta.diff.range */ {
  font-weight: bold !important;
  color: #b392f0 !important;
}

.pl-mo /* meta.output */ {
  color: #0366d6 !important;
}

.pl-ba /* brackethighlighter.tag, brackethighlighter.curly, brackethighlighter.round, brackethighlighter.square, brackethighlighter.angle, brackethighlighter.quote */ {
  color: #ffeef0 !important;
}

.pl-sg /* sublimelinter.gutter-mark */ {
  color: #6a737d !important;
}

.pl-corl /* constant.other.reference.link, string.other.link */ {
  text-decoration: underline !important;
  color: #79b8ff !important;
}
/*</github> */

/*<medium> */
div.u-backgroundTransparentWhiteDarkest, .u-backgroundWhite {
  background: black !important;
}
article, div.u-backgroundWhite, div.u-tintBgColor {
  background-color: black !important;
}
/*</medium> */

/*<stackoverflow> */
.top-bar {
  border:none !important;
}
code {
  background-color: #101010 !important;
  /*border: 1px solid #585757 !important;*/
  color: #686767 !important;
}

pre > code {
  background-color: black !important;
}

kbd {
  background-color: black !important;
  box-shadow: none !important;
  border-color: #828282 !important;
  text-shadow: none !important;
  color: gray !important;
}

div.answered-accepted {
  background-color: #001808 !important;
}

#newsletter-ad {
  background: none !important;
}

div.clc-jobs-multi>.middle>ul .job-wrap span.post-tag {
  background-color: black !important;
  border: 1px solid gray !important;
}

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #65B042 !important; } /* string  - green */
pre .kwd, code .kwd { color: #E28964 !important; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE !important; font-style: italic !important; } /* comment - gray */
pre .typ, code .typ { color: #89bdff !important; } /* type - light blue */
pre .lit, code .lit { color: #3387CC !important; } /* literal - blue */
pre .pun, code .pun { color: #fff !important; } /* punctuation - white */
pre .pln, code .pln { color: #fff !important; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff !important; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b !important; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042 !important; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC !important; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #000 !important;
	border-radius: 8px !important;
}

pre.prettyprint {
	/*width: 95% !important;*/
	margin: 1em auto !important;
	padding: 1em !important;
	white-space: pre-wrap !important;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0 !important; margin-bottom: 0 !important; color: #AEAEAE !important; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none !important; }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060 !important; }
  pre .kwd, code .kwd { color: #006 !important; font-weight: bold !important; }
  pre .com, code .com { color: #600 !important; font-style: italic !important; }
  pre .typ, code .typ { color: #404 !important; font-weight: bold !important; }
  pre .lit, code .lit { color: #044 !important; }
  pre .pun, code .pun { color: #440 !important; }
  pre .pln, code .pln { color: #000 !important; }
  pre .tag, code .tag { color: #006 !important; font-weight: bold !important; }
  pre .atn, code .atn { color: #404 !important; }
  pre .atv, code .atv { color: #060 !important; }
}

/*</stackoverflow > */


/*<google> */
html, content, c-wiz {
  background-color: black !important;
}
div#search {
  border: none !important;
}
#hdtb-tls:hover ,
#hdtb-msb .hdtb-tl-sel {
  background-image: none !important;
  background-color: #141414 !important;
}
.gstl_0.sbdd_a {
  border-style: solid !important;
  border-width: 1px !important;
}
.sbsb_d .sbqs_c b , .sbsb_d .sbqs_c, .sbsb_d {
  background: #2f2f2f !important;
}
.jfk-button-standard {
  background-image: none !important;
}
/*</google> */

main, figure {
  background-color: black !important;
}

/*<vimium>*/
div > .vimiumHintMarker {
  background: black !important;
  border-style: solid !important;
  border-width: 1px !important;
}

div > .vimiumHintMarker span {
  /*color: black !important;*/
  text-shadow: none;
  color: white !important;
}
/*</vimium>*/


/*<twitter>*/
iframe {
  /*opacity: 0.5;*/
}
/*.TwitterCardsGrid .TwitterCardsGrid-col--12 {*/
  /*background: #545454 !important;*/
  /*border-color: #686868 !important;*/
/*}*/
.QuoteTweet-link.js-nav {
  background-color: transparent !important;
}
/*</twitter>*/

/*<chromium browser>*/
#page-header {
  background-image: none !important;
}
#page-header h1::after{
  background-color: #7b7a7a !important;
}
button {
  box-shadow: none !important;
  text-shadow: none !important;
}
dialog#drawer::shadow , settings-animated-pages, settings-subpage {
  background-color: black !important;
}
input {
  box-shadow: none !important;
}

/*</chromium browser>*/

/*<digikala>*/
.products__item-wrapper {
  background-color: black !important;
}
/*</digikala>*/


/*<bootstrap theme>*/
.nav-link.active, .btn.btn-primary {
  border: 1px solid #007bff !important;
}
.btn.btn-secondary {
  border: 1px solid #868e96 !important;
}
.btn.btn-success {
  border: 1px solid #28a745 !important;
}
.navbar {
  border-bottom: 1px solid #464545 !important;
}
.navbar.bg-dark, div.bg-dark, div.bg-light {
  background-color: black !important;
}
.btn, .panel, div.border-white {
  border: 1px solid #464545 !important;
}
/*</bootstrap theme>*/

/*<imdb>*/
.slate_fade_top, .slate_fade_bottom, .slate_button:after {
  /*background: none !important;*/
  background-color: rgba(0, 0, 0, 0) !important
}
.positive, .score_favorable, .score_outstanding {
  background-color: #001808 !important;
}
/*</imdb>*/

/*<youtube>*/
.ytp-gradient-bottom, .ytp-progress-bar-padding, .ytp-chrome-top.ytp-share-button-visible, .ytp-chrome-top-buttons, .ytp-gradient-top, .style-scope.paper-ripple, .vjs-text-track-display, .vjs-text-track-display div, 
.ytp-chrome-bottom, .ytp-chrome-controls, .ytp-ce-covering-overlay,
.annotation.annotation-type-highlight,
.OIL2le /* google.com */
{
  background-color: transparent !important;
}
.ytd-thumbnail-overlay-resume-playback-renderer, .ytp-play-progress.ytp-swatch-background-color {
  background-color: #2f0000 !important;
}
.ytp-load-progress {
  background-color: rgb(26, 26, 26) !important;
}

.ytd-searchbox-spt {
  background-color: transparent !important;
}
/*</youtube>*/

/*<syntax highlighter fadetogray theme*/
/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 * 
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
div .syntaxhighlighter {
  background-color: #121212 !important;
  opacity: 0.5 !important;
}
div .syntaxhighlighter .line.alt1 {
  background-color: #121212 !important;
}
div .syntaxhighlighter .line.alt2 {
  background-color: #121212 !important;
}
div .syntaxhighlighter .line.highlighted.alt1, div .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #2c2c29 !important;
}
div .syntaxhighlighter .line.highlighted.number {
  color: white !important;
}
div .syntaxhighlighter table caption {
  color: white !important;
}
div .syntaxhighlighter .gutter {
  color: #afafaf !important;
}
div .syntaxhighlighter .gutter .line {
  border-right: 3px solid #3185b9 !important;
}
div .syntaxhighlighter .gutter .line.highlighted {
  background-color: #3185b9 !important;
  color: #121212 !important;
}
div .syntaxhighlighter.printing .line .content {
  border: none !important;
}
div .syntaxhighlighter.collapsed {
  overflow: visible !important;
}
div .syntaxhighlighter.collapsed .toolbar {
  color: #3185b9 !important;
  background: black !important;
  border: 1px solid #3185b9 !important;
}
div .syntaxhighlighter.collapsed .toolbar a {
  color: #3185b9 !important;
}
div .syntaxhighlighter.collapsed .toolbar a:hover {
  color: #d01d33 !important;
}
div .syntaxhighlighter .toolbar {
  color: white !important;
  background: #3185b9 !important;
  border: none !important;
}
div .syntaxhighlighter .toolbar a {
  color: white !important;
}
div .syntaxhighlighter .toolbar a:hover {
  color: #96daff !important;
}
div .syntaxhighlighter .plain, div .syntaxhighlighter .plain a {
  color: white !important;
}
div .syntaxhighlighter .comments, div .syntaxhighlighter .comments a {
  color: #696854 !important;
}
div .syntaxhighlighter .string, div .syntaxhighlighter .string a {
  color: #e3e658 !important;
}
div .syntaxhighlighter .keyword {
  color: #d01d33 !important;
}
div .syntaxhighlighter .preprocessor {
  color: #435a5f !important;
}
div .syntaxhighlighter .variable {
  color: #898989 !important;
}
div .syntaxhighlighter .value {
  color: #009900 !important;
}
div .syntaxhighlighter .functions {
  color: #aaaaaa !important;
}
div .syntaxhighlighter .constants {
  color: #96daff !important;
}
div .syntaxhighlighter .script {
  font-weight: bold !important;
  color: #d01d33 !important;
  background-color: none !important;
}
div .syntaxhighlighter .color1, div .syntaxhighlighter .color1 a {
  color: #ffc074 !important;
}
div .syntaxhighlighter .color2, div .syntaxhighlighter .color2 a {
  color: #4a8cdb !important;
}
div .syntaxhighlighter .color3, div .syntaxhighlighter .color3 a {
  color: #96daff !important;
}

div .syntaxhighlighter .functions {
  font-weight: bold !important;
}
/*syntax highlighter fadetogray theme>*/


/*<prism*/
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2 !important;
	background: none !important;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3) !important;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
	text-align: left !important;
	white-space: pre !important;
	word-spacing: normal !important;
	word-break: normal !important;
	word-wrap: normal !important;
	line-height: 1.5 !important;

	-moz-tab-size: 4 !important;
	-o-tab-size: 4 !important;
	tab-size: 4 !important;

	-webkit-hyphens: none !important;
	-moz-hyphens: none !important;
	-ms-hyphens: none !important;
	hyphens: none !important;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em !important;
	/*margin: .5em 0 !important;*/
	overflow: auto !important;
	border-radius: 0.3em !important;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: black !important;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em !important;
	border-radius: .3em !important;
	white-space: normal !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray !important;
}

.token.punctuation {
	color: #f8f8f2 !important;
}

.namespace {
	opacity: .7 !important;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672 !important;
}

.token.boolean,
.token.number {
	color: #ae81ff !important;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2 !important;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74 !important;
}

.token.keyword {
	color: #66d9ef !important;
}

.token.regex,
.token.important {
	color: #fd971f !important;
}

.token.important,
.token.bold {
	font-weight: bold !important;
}
.token.italic {
	font-style: italic !important;
}

.token.entity {
	cursor: help !important;
}
/*prism>*/


/*<highlight.js*/
.hljs {
  display: block !important;
  overflow-x: auto !important;
  padding: 0.5em !important;
  background: #000 !important;
  color: #f8f8f8 !important;
  /*opacity: 0.5 !important;*/
}

.hljs-comment,
.hljs-quote {
  color: #aeaeae !important;
  font-style: italic !important
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #e28964 !important
}

.hljs-string {
  color: #65b042 !important
}

.hljs-subst {
  color: #daefa3 !important
}

.hljs-regexp,
.hljs-link {
  color: #e9c062 !important
}

.hljs-title,
.hljs-section,
.hljs-tag,
.hljs-name {
  color: #89bdff !important
}

.hljs-class .hljs-title,
.hljs-doctag {
  text-decoration: underline !important
}

.hljs-symbol,
.hljs-bullet,
.hljs-number {
  color: #3387cc !important
}

.hljs-params,
.hljs-variable,
.hljs-template-variable {
  color: #3e87e3 !important
}

.hljs-attribute {
  color: #cda869 !important
}

.hljs-meta {
  color: #8996a8 !important
}

.hljs-formula {
  background-color: #0e2231 !important;
  color: #f8f8f8 !important;
  font-style: italic !important
}

.hljs-addition {
  background-color: #253b22 !important;
  color: #f8f8f8 !important
}

.hljs-deletion {
  background-color: #420e09 !important;
  color: #f8f8f8 !important
}

.hljs-selector-class {
  color: #9b703f !important
}

.hljs-selector-id {
  color: #8b98ab !important
}

.hljs-emphasis {
  font-style: italic !important
}

.hljs-strong {
  font-weight: bold !important
}
/*highlight.js>*/


/*<pygaments-css*/
/*.highlight .hll { background-color: #222222 !important }*/
/*.highlight  { background: #000000 !important; color: #cccccc  !important; */
  /*opacity: 0.7 !important;*/
/*}*/
/*.highlight .c { color: #000080 !important } [> Comment <]*/
/*.highlight .err { color: #cccccc !important; border: 1px solid #FF0000 !important } [> Error <]*/
/*.highlight .esc { color: #cccccc !important } [> Escape <]*/
/*.highlight .g { color: #cccccc !important } [> Generic <]*/
/*.highlight .k { color: #cdcd00 !important } [> Keyword <]*/
/*.highlight .l { color: #cccccc !important } [> Literal <]*/
/*.highlight .n { color: #cccccc !important } [> Name <]*/
/*.highlight .o { color: #3399cc !important } [> Operator <]*/
/*.highlight .x { color: #cccccc !important } [> Other <]*/
/*.highlight .p { color: #cccccc !important } [> Punctuation <]*/
/*.highlight .ch { color: #000080 !important } [> Comment.Hashbang <]*/
/*.highlight .cm { color: #000080 !important } [> Comment.Multiline <]*/
/*.highlight .cp { color: #000080 !important } [> Comment.Preproc <]*/
/*.highlight .cpf { color: #000080 !important } [> Comment.PreprocFile <]*/
/*.highlight .c1 { color: #000080 !important } [> Comment.Single <]*/
/*.highlight .cs { color: #cd0000 !important; font-weight: bold !important } [> Comment.Special <]*/
/*.highlight .gd { color: #cd0000 !important } [> Generic.Deleted <]*/
/*.highlight .ge { color: #cccccc !important; font-style: italic !important } [> Generic.Emph <]*/
/*.highlight .gr { color: #FF0000 !important } [> Generic.Error <]*/
/*.highlight .gh { color: #000080 !important; font-weight: bold !important } [> Generic.Heading <]*/
/*.highlight .gi { color: #00cd00 !important } [> Generic.Inserted <]*/
/*.highlight .go { color: #888888 !important } [> Generic.Output <]*/
/*.highlight .gp { color: #000080 !important; font-weight: bold !important } [> Generic.Prompt <]*/
/*.highlight .gs { color: #cccccc !important; font-weight: bold !important } [> Generic.Strong <]*/
/*.highlight .gu { color: #800080 !important; font-weight: bold !important } [> Generic.Subheading <]*/
/*.highlight .gt { color: #0044DD !important } [> Generic.Traceback <]*/
/*.highlight .kc { color: #cdcd00 !important } [> Keyword.Constant <]*/
/*.highlight .kd { color: #00cd00 !important } [> Keyword.Declaration <]*/
/*.highlight .kn { color: #cd00cd !important } [> Keyword.Namespace <]*/
/*.highlight .kp { color: #cdcd00 !important } [> Keyword.Pseudo <]*/
/*.highlight .kr { color: #cdcd00 !important } [> Keyword.Reserved <]*/
/*.highlight .kt { color: #00cd00 !important } [> Keyword.Type <]*/
/*.highlight .ld { color: #cccccc !important } [> Literal.Date <]*/
/*.highlight .m { color: #cd00cd !important } [> Literal.Number <]*/
/*.highlight .s { color: #cd0000 !important } [> Literal.String <]*/
/*.highlight .na { color: #cccccc !important } [> Name.Attribute <]*/
/*.highlight .nb { color: #cd00cd !important } [> Name.Builtin <]*/
/*.highlight .nc { color: #00cdcd !important } [> Name.Class <]*/
/*.highlight .no { color: #cccccc !important } [> Name.Constant <]*/
/*.highlight .nd { color: #cccccc !important } [> Name.Decorator <]*/
/*.highlight .ni { color: #cccccc !important } [> Name.Entity <]*/
/*.highlight .ne { color: #666699 !important; font-weight: bold !important } [> Name.Exception <]*/
/*.highlight .nf { color: #cccccc !important } [> Name.Function <]*/
/*.highlight .nl { color: #cccccc !important } [> Name.Label <]*/
/*.highlight .nn { color: #cccccc !important } [> Name.Namespace <]*/
/*.highlight .nx { color: #cccccc !important } [> Name.Other <]*/
/*.highlight .py { color: #cccccc !important } [> Name.Property <]*/
/*.highlight .nt { color: #cccccc !important } [> Name.Tag <]*/
/*.highlight .nv { color: #00cdcd !important } [> Name.Variable <]*/
/*.highlight .ow { color: #cdcd00 !important } [> Operator.Word <]*/
/*.highlight .w { color: #cccccc !important } [> Text.Whitespace <]*/
/*.highlight .mb { color: #cd00cd !important } [> Literal.Number.Bin <]*/
/*.highlight .mf { color: #cd00cd !important } [> Literal.Number.Float <]*/
/*.highlight .mh { color: #cd00cd !important } [> Literal.Number.Hex <]*/
/*.highlight .mi { color: #cd00cd !important } [> Literal.Number.Integer <]*/
/*.highlight .mo { color: #cd00cd !important } [> Literal.Number.Oct <]*/
/*.highlight .sa { color: #cd0000 !important } [> Literal.String.Affix <]*/
/*.highlight .sb { color: #cd0000 !important } [> Literal.String.Backtick <]*/
/*.highlight .sc { color: #cd0000 !important } [> Literal.String.Char <]*/
/*.highlight .dl { color: #cd0000 !important } [> Literal.String.Delimiter <]*/
/*.highlight .sd { color: #cd0000 !important } [> Literal.String.Doc <]*/
/*.highlight .s2 { color: #cd0000 !important } [> Literal.String.Double <]*/
/*.highlight .se { color: #cd0000 !important } [> Literal.String.Escape <]*/
/*.highlight .sh { color: #cd0000 !important } [> Literal.String.Heredoc <]*/
/*.highlight .si { color: #cd0000 !important } [> Literal.String.Interpol <]*/
/*.highlight .sx { color: #cd0000 !important } [> Literal.String.Other <]*/
/*.highlight .sr { color: #cd0000 !important } [> Literal.String.Regex <]*/
/*.highlight .s1 { color: #cd0000 !important } [> Literal.String.Single <]*/
/*.highlight .ss { color: #cd0000 !important } [> Literal.String.Symbol <]*/
/*.highlight .bp { color: #cd00cd !important } [> Name.Builtin.Pseudo <]*/
/*.highlight .fm { color: #cccccc !important } [> Name.Function.Magic <]*/
/*.highlight .vc { color: #00cdcd !important } [> Name.Variable.Class <]*/
/*.highlight .vg { color: #00cdcd !important } [> Name.Variable.Global <]*/
/*.highlight .vi { color: #00cdcd !important } [> Name.Variable.Instance <]*/
/*.highlight .vm { color: #00cdcd !important } [> Name.Variable.Magic <]*/
/*.highlight .il { color: #cd00cd !important } [> Literal.Number.Integer.Long <]*/


.highlight .hll { background-color: #49483e !important}
.highlight  { 
  /*background: #272822 !important; */
  background-color: black !important; 
  color: #f8f8f2 !important; 
  opacity: 0.7 !important;
}
.highlight .c { color: #75715e !important } /* Comment */
.highlight .err { color: #960050 !important; background-color: #1e0010 !important } /* Error */
.highlight .k { color: #66d9ef !important } /* Keyword */
.highlight .l { color: #ae81ff !important } /* Literal */
.highlight .n { color: #f8f8f2 !important ; background-color: transparent !important;} /* Name */
.highlight .o { color: #f92672 !important } /* Operator */
.highlight .p { color: #f8f8f2 !important } /* Punctuation */
.highlight .ch { color: #75715e !important } /* Comment.Hashbang */
.highlight .cm { color: #75715e !important } /* Comment.Multiline */
.highlight .cp { color: #75715e !important } /* Comment.Preproc */
.highlight .cpf { color: #75715e !important } /* Comment.PreprocFile */
.highlight .c1 { color: #75715e !important ; background-color: transparent !important; } /* Comment.Single */
.highlight .cs { color: #75715e !important } /* Comment.Special */
.highlight .gd { color: #f92672 !important } /* Generic.Deleted */
.highlight .ge { font-style: italic !important } /* Generic.Emph */
.highlight .gi { color: #a6e22e !important } /* Generic.Inserted */
.highlight .gs { font-weight: bold !important } /* Generic.Strong */
.highlight .gu { color: #75715e !important } /* Generic.Subheading */
.highlight .kc { color: #66d9ef !important } /* Keyword.Constant */
.highlight .kd { color: #66d9ef !important } /* Keyword.Declaration */
.highlight .kn { color: #f92672 !important } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef !important } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef !important } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef !important } /* Keyword.Type */
.highlight .ld { color: #e6db74 !important } /* Literal.Date */
.highlight .m { color: #ae81ff !important } /* Literal.Number */
.highlight .s { color: #e6db74 !important } /* Literal.String */
.highlight .na { color: #a6e22e !important } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 !important } /* Name.Builtin */
.highlight .nc { color: #a6e22e !important } /* Name.Class */
.highlight .no { color: #66d9ef !important } /* Name.Constant */
.highlight .nd { color: #a6e22e !important } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 !important } /* Name.Entity */
.highlight .ne { color: #a6e22e !important } /* Name.Exception */
.highlight .nf { color: #a6e22e !important } /* Name.Function */
.highlight .nl { color: #f8f8f2 !important } /* Name.Label */
.highlight .nn { color: #f8f8f2 !important } /* Name.Namespace */
.highlight .nx { color: #a6e22e !important } /* Name.Other */
.highlight .py { color: #f8f8f2 !important } /* Name.Property */
.highlight .nt { color: #f92672 !important } /* Name.Tag */
.highlight .nv { color: #f8f8f2 !important } /* Name.Variable */
.highlight .ow { color: #f92672 !important } /* Operator.Word */
.highlight .w { color: #f8f8f2 !important } /* Text.Whitespace */
.highlight .mb { color: #ae81ff !important } /* Literal.Number.Bin */
.highlight .mf { color: #ae81ff !important } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff !important } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff !important } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff !important } /* Literal.Number.Oct */
.highlight .sa { color: #e6db74 !important } /* Literal.String.Affix */
.highlight .sb { color: #e6db74 !important } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 !important } /* Literal.String.Char */
.highlight .dl { color: #e6db74 !important } /* Literal.String.Delimiter */
.highlight .sd { color: #e6db74 !important } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 !important } /* Literal.String.Double */
.highlight .se { color: #ae81ff !important } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 !important } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 !important } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 !important } /* Literal.String.Other */
.highlight .sr { color: #e6db74 !important } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 !important } /* Literal.String.Single */
.highlight .ss { color: #e6db74 !important } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 !important } /* Name.Builtin.Pseudo */
.highlight .fm { color: #a6e22e !important } /* Name.Function.Magic */
.highlight .vc { color: #f8f8f2 !important } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 !important } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 !important } /* Name.Variable.Instance */
.highlight .vm { color: #f8f8f2 !important } /* Name.Variable.Magic */
.highlight .il { color: #ae81ff !important } /* Literal.Number.Integer.Long */




pre .hll { background-color: #ffffcc !important}
pre  { background: #f0f0f0 !important; }
pre .c { color: #60a0b0 !important; font-style: italic !important } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { color: #007020 !important; font-weight: bold !important } /* Keyword */
pre .o { color: #666666 !important } /* Operator */
pre .ch { color: #60a0b0 !important; font-style: italic !important } /* Comment.Hashbang */
pre .cm { color: #60a0b0 !important; font-style: italic !important } /* Comment.Multiline */
pre .cp { color: #007020 !important } /* Comment.Preproc */
pre .cpf { color: #60a0b0 !important; font-style: italic !important } /* Comment.PreprocFile */
pre .c1 { color: #60a0b0 !important; font-style: italic !important } /* Comment.Single */
pre .cs { color: #60a0b0 !important; /*background-color: #fff0f0 !important */ } /* Comment.Special */
pre .gd { color: #A00000 !important } /* Generic.Deleted */
pre .ge { font-style: italic !important } /* Generic.Emph */
pre .gr { color: #FF0000 !important } /* Generic.Error */
pre .gh { color: #000080 !important; font-weight: bold !important } /* Generic.Heading */
pre .gi { color: #00A000 !important } /* Generic.Inserted */
pre .go { color: #888888 !important } /* Generic.Output */
pre .gp { color: #c65d09 !important; font-weight: bold !important } /* Generic.Prompt */
pre .gs { font-weight: bold !important } /* Generic.Strong */
pre .gu { color: #800080 !important; font-weight: bold !important } /* Generic.Subheading */
pre .gt { color: #0044DD !important } /* Generic.Traceback */
pre .kc { color: #007020 !important; font-weight: bold !important } /* Keyword.Constant */
pre .kd { color: #007020 !important; font-weight: bold !important } /* Keyword.Declaration */
pre .kn { color: #007020 !important; font-weight: bold !important } /* Keyword.Namespace */
pre .kp { color: #007020 !important } /* Keyword.Pseudo */
pre .kr { color: #007020 !important; font-weight: bold !important } /* Keyword.Reserved */
pre .kt { color: #902000 !important } /* Keyword.Type */
pre .m { color: #40a070 !important } /* Literal.Number */
pre .s { color: #4070a0 !important } /* Literal.String */
pre .na { color: #4070a0 !important } /* Name.Attribute */
pre .nb { color: #007020 !important } /* Name.Builtin */
pre .nc { color: #0e84b5 !important; font-weight: bold !important } /* Name.Class */
pre .no { color: #60add5 !important } /* Name.Constant */
pre .nd { color: #555555 !important; font-weight: bold !important } /* Name.Decorator */
pre .ni { color: #d55537 !important; font-weight: bold !important } /* Name.Entity */
pre .ne { color: #007020 !important } /* Name.Exception */
pre .nf { color: #06287e !important } /* Name.Function */
pre .nl { color: #002070 !important; font-weight: bold !important } /* Name.Label */
pre .nn { color: #0e84b5 !important; font-weight: bold !important } /* Name.Namespace */
pre .nt { color: #062873 !important; font-weight: bold !important } /* Name.Tag */
pre .nv { color: #bb60d5 !important } /* Name.Variable */
pre .ow { color: #007020 !important; font-weight: bold !important } /* Operator.Word */
pre .w { color: #bbbbbb !important } /* Text.Whitespace */
pre .mb { color: #40a070 !important } /* Literal.Number.Bin */
pre .mf { color: #40a070 !important } /* Literal.Number.Float */
pre .mh { color: #40a070 !important } /* Literal.Number.Hex */
pre .mi { color: #40a070 !important } /* Literal.Number.Integer */
pre .mo { color: #40a070 !important } /* Literal.Number.Oct */
pre .sa { color: #4070a0 !important } /* Literal.String.Affix */
pre .sb { color: #4070a0 !important } /* Literal.String.Backtick */
pre .sc { color: #4070a0 !important } /* Literal.String.Char */
pre .dl { color: #4070a0 !important } /* Literal.String.Delimiter */
pre .sd { color: #4070a0 !important; font-style: italic !important } /* Literal.String.Doc */
pre .s2 { color: #4070a0 !important } /* Literal.String.Double */
pre .se { color: #4070a0 !important; font-weight: bold !important } /* Literal.String.Escape */
pre .sh { color: #4070a0 !important } /* Literal.String.Heredoc */
pre .si { color: #70a0d0 !important; font-style: italic !important } /* Literal.String.Interpol */
pre .sx { color: #c65d09 !important } /* Literal.String.Other */
pre .sr { color: #235388 !important } /* Literal.String.Regex */
pre .s1 { color: #4070a0 !important } /* Literal.String.Single */
pre .ss { color: #517918 !important } /* Literal.String.Symbol */
pre .bp { color: #007020 !important } /* Name.Builtin.Pseudo */
pre .fm { color: #06287e !important } /* Name.Function.Magic */
pre .vc { color: #bb60d5 !important } /* Name.Variable.Class */
pre .vg { color: #bb60d5 !important } /* Name.Variable.Global */
pre .vi { color: #bb60d5 !important } /* Name.Variable.Instance */
pre .vm { color: #bb60d5 !important } /* Name.Variable.Magic */
pre .il { color: #40a070 !important } /* Literal.Number.Integer.Long */.syntax pre .hll { background-color: #49483e !important }
.syntax pre  { background: #272822 !important; color: #f8f8f2 !important }
.syntax pre .c { color: #75715e !important } /* Comment */
.syntax pre .err { color: #960050 !important; background-color: #1e0010 !important } /* Error */
.syntax pre .k { color: #66d9ef !important } /* Keyword */
.syntax pre .l { color: #ae81ff !important } /* Literal */
.syntax pre .n { color: #f8f8f2 !important } /* Name */
.syntax pre .o { color: #f92672 !important } /* Operator */
.syntax pre .p { color: #f8f8f2 !important } /* Punctuation */
.syntax pre .ch { color: #75715e !important } /* Comment.Hashbang */
.syntax pre .cm { color: #75715e !important } /* Comment.Multiline */
.syntax pre .cp { color: #75715e !important } /* Comment.Preproc */
.syntax pre .cpf { color: #75715e !important } /* Comment.PreprocFile */
.syntax pre .c1 { color: #75715e !important } /* Comment.Single */
.syntax pre .cs { color: #75715e !important } /* Comment.Special */
.syntax pre .gd { color: #f92672 !important } /* Generic.Deleted */
.syntax pre .ge { font-style: italic !important } /* Generic.Emph */
.syntax pre .gi { color: #a6e22e !important } /* Generic.Inserted */
.syntax pre .gs { font-weight: bold !important } /* Generic.Strong */
.syntax pre .gu { color: #75715e !important } /* Generic.Subheading */
.syntax pre .kc { color: #66d9ef !important } /* Keyword.Constant */
.syntax pre .kd { color: #66d9ef !important } /* Keyword.Declaration */
.syntax pre .kn { color: #f92672 !important } /* Keyword.Namespace */
.syntax pre .kp { color: #66d9ef !important } /* Keyword.Pseudo */
.syntax pre .kr { color: #66d9ef !important } /* Keyword.Reserved */
.syntax pre .kt { color: #66d9ef !important } /* Keyword.Type */
.syntax pre .ld { color: #e6db74 !important } /* Literal.Date */
.syntax pre .m { color: #ae81ff !important } /* Literal.Number */
.syntax pre .s { color: #e6db74 !important } /* Literal.String */
.syntax pre .na { color: #a6e22e !important } /* Name.Attribute */
.syntax pre .nb { color: #f8f8f2 !important } /* Name.Builtin */
.syntax pre .nc { color: #a6e22e !important } /* Name.Class */
.syntax pre .no { color: #66d9ef !important } /* Name.Constant */
.syntax pre .nd { color: #a6e22e !important } /* Name.Decorator */
.syntax pre .ni { color: #f8f8f2 !important } /* Name.Entity */
.syntax pre .ne { color: #a6e22e !important } /* Name.Exception */
.syntax pre .nf { color: #a6e22e !important } /* Name.Function */
.syntax pre .nl { color: #f8f8f2 !important } /* Name.Label */
.syntax pre .nn { color: #f8f8f2 !important } /* Name.Namespace */
.syntax pre .nx { color: #a6e22e !important } /* Name.Other */
.syntax pre .py { color: #f8f8f2 !important } /* Name.Property */
.syntax pre .nt { color: #f92672 !important } /* Name.Tag */
.syntax pre .nv { color: #f8f8f2 !important } /* Name.Variable */
.syntax pre .ow { color: #f92672 !important } /* Operator.Word */
.syntax pre .w { color: #f8f8f2 !important } /* Text.Whitespace */
.syntax pre .mb { color: #ae81ff !important } /* Literal.Number.Bin */
.syntax pre .mf { color: #ae81ff !important } /* Literal.Number.Float */
.syntax pre .mh { color: #ae81ff !important } /* Literal.Number.Hex */
.syntax pre .mi { color: #ae81ff !important } /* Literal.Number.Integer */
.syntax pre .mo { color: #ae81ff !important } /* Literal.Number.Oct */
.syntax pre .sa { color: #e6db74 !important } /* Literal.String.Affix */
.syntax pre .sb { color: #e6db74 !important } /* Literal.String.Backtick */
.syntax pre .sc { color: #e6db74 !important } /* Literal.String.Char */
.syntax pre .dl { color: #e6db74 !important } /* Literal.String.Delimiter */
.syntax pre .sd { color: #e6db74 !important } /* Literal.String.Doc */
.syntax pre .s2 { color: #e6db74 !important } /* Literal.String.Double */
.syntax pre .se { color: #ae81ff !important } /* Literal.String.Escape */
.syntax pre .sh { color: #e6db74 !important } /* Literal.String.Heredoc */
.syntax pre .si { color: #e6db74 !important } /* Literal.String.Interpol */
.syntax pre .sx { color: #e6db74 !important } /* Literal.String.Other */
.syntax pre .sr { color: #e6db74 !important } /* Literal.String.Regex */
.syntax pre .s1 { color: #e6db74 !important } /* Literal.String.Single */
.syntax pre .ss { color: #e6db74 !important } /* Literal.String.Symbol */
.syntax pre .bp { color: #f8f8f2 !important } /* Name.Builtin.Pseudo */
.syntax pre .fm { color: #a6e22e !important } /* Name.Function.Magic */
.syntax pre .vc { color: #f8f8f2 !important } /* Name.Variable.Class */
.syntax pre .vg { color: #f8f8f2 !important } /* Name.Variable.Global */
.syntax pre .vi { color: #f8f8f2 !important } /* Name.Variable.Instance */
.syntax pre .vm { color: #f8f8f2 !important } /* Name.Variable.Magic */
.syntax pre .il { color: #ae81ff !important } /* Literal.Number.Integer.Long */

/*pygaments-css>*/

/*<codemirro tommorrow night bright theme*/
/*

    Name:       Tomorrow Night - Bright
    Author:     Chris Kempson

    Port done by Gerard Braad <me@gbraad.nl>

*/

/*.CodeMirror { background: #000000 !important; color: #eaeaea !important; }*/
/*div.CodeMirror-selected { background: #424242 !important; }*/
/*.CodeMirror-gutters { background: #000000 !important; border-right: 0px !important; }*/
/*.CodeMirror-guttermarker { color: #e78c45 !important; }*/
/*.CodeMirror-guttermarker-subtle { color: #777 !important; }*/
/*.CodeMirror-linenumber { color: #424242 !important; }*/
/*.CodeMirror-cursor { border-left: 1px solid #6A6A6A !important; }*/

/*span.cm-comment { color: #d27b53 !important; }*/
/*span.cm-atom { color: #a16a94 !important; }*/
/*span.cm-number { color: #a16a94 !important; }*/

/*span.cm-property, .cm-s-tomorrow-night-bright span.cm-attribute { color: #99cc99 !important; }*/
/*span.cm-keyword { color: #d54e53 !important; }*/
/*span.cm-string { color: #e7c547 !important; }*/

/*span.cm-variable { color: #b9ca4a !important; }*/
/*span.cm-variable-2 { color: #7aa6da !important; }*/
/*span.cm-def { color: #e78c45 !important; }*/
/*span.cm-bracket { color: #eaeaea !important; }*/
/*span.cm-tag { color: #d54e53 !important; }*/
/*span.cm-link { color: #a16a94 !important; }*/
/*span.cm-error { background: #d54e53 !important; color: #6A6A6A !important; }*/

/*.CodeMirror-activeline-background { background: #2a2a2a !important; }*/
/*.CodeMirror-matchingbracket { text-decoration: underline !important; color: white !important; }*/
/*</codemirro tommorrow night bright theme>*/



/*<codemirro vibrant-ink>*/
.CodeMirror { background: black !important; color: white !important; }
div.CodeMirror-selected { background: #35493c !important; }
.CodeMirror-line::selection, .cm-s-vibrant-ink .CodeMirror-line > span::selection, .cm-s-vibrant-ink .CodeMirror-line > span > span::selection { background: rgba(53, 73, 60, 0.99) !important; }
.CodeMirror-line::-moz-selection, .cm-s-vibrant-ink .CodeMirror-line > span::-moz-selection, .cm-s-vibrant-ink .CodeMirror-line > span > span::-moz-selection { background: rgba(53, 73, 60, 0.99) !important; }

.CodeMirror-gutters { background: #002240 !important; border-right: 1px solid #aaa !important; }
.CodeMirror-guttermarker { color: white !important; }
.CodeMirror-guttermarker-subtle { color: #d0d0d0 !important; }
.CodeMirror-linenumber { color: #d0d0d0 !important; }
.CodeMirror-cursor { border-left: 1px solid white !important; }

.cm-keyword { color: #CC7832 !important; }
.cm-atom { color: #FC0 !important; }
.cm-number { color:  #FFEE98 !important; }
.cm-def { color: #8DA6CE !important; }
span.cm-variable-2, .cm-s-vibrant span.cm-tag { color: #FFC66D !important; }
span.cm-variable-3, .cm-s-vibrant span.cm-def, .cm-s-vibrant span.cm-type { color: #FFC66D !important; }
.cm-operator { color: #888 !important; }
.cm-comment { color: gray !important; font-weight: bold !important; }
.cm-string { color:  #A5C25C !important; }
.cm-string-2 { color: red !important; }
.cm-meta { color: #D8FA3C !important; }
.cm-builtin { color: #8DA6CE !important; }
.cm-tag { color: #8DA6CE !important; }
.cm-attribute { color: #8DA6CE !important; }
.cm-header { color: #FF6400 !important; }
.cm-hr { color: #AEAEAE !important; }
.cm-link { color: blue !important; }
.cm-error { border-bottom: 1px solid red !important; }

.CodeMirror-activeline-background { background: #27282E !important; }
.CodeMirror-matchingbracket { outline:1px solid grey !important; color:white !important; }
/*</codemirro vibrant-ink>*/



/*<ace editor*/
.ace_gutter {
  background: #1a1a1a !important;
  color: #DEDEDE !important
}

.ace_print-margin {
  width: 1px !important;
  background: #1a1a1a !important
}

.ace-tomorrow-night-bright {
  background-color: #000000 !important;
  color: #DEDEDE !important
}

.ace_cursor {
  color: #9F9F9F !important
}

.ace_marker-layer .ace_selection {
  background: #424242 !important
}

.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #000000 !important;
}

.ace_marker-layer .ace_step {
  background: rgb(102, 82, 0) !important
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid #888888 !important
}

.ace_marker-layer .ace_highlight {
  border: 1px solid rgb(110, 119, 0) !important;
  border-bottom: 0 !important;
  box-shadow: inset 0 -1px rgb(110, 119, 0) !important;
  margin: -1px 0 0 -1px !important;
  background: rgba(255, 235, 0, 0.1) !important
}

.ace_marker-layer .ace_active-line {
  background: #2A2A2A !important
}

.ace_gutter-active-line {
  background-color: #2A2A2A !important
}

.ace_stack {
  background-color: rgb(66, 90, 44) !important
}

.ace_marker-layer .ace_selected-word {
  border: 1px solid #888888 !important
}

.ace_invisible {
  color: #343434 !important
}

.ace_keyword,
.ace_meta,
.ace_storage,
.ace_storage.ace_type,
.ace_support.ace_type {
  color: #C397D8 !important
}

.ace_keyword.ace_operator {
  color: #70C0B1 !important
}

.ace_constant.ace_character,
.ace_constant.ace_language,
.ace_constant.ace_numeric,
.ace_keyword.ace_other.ace_unit,
.ace_support.ace_constant,
.ace_variable.ace_parameter {
  color: #E78C45 !important
}

.ace_constant.ace_other {
  color: #EEEEEE !important
}

.ace_invalid {
  color: #CED2CF !important;
  background-color: #DF5F5F !important
}

.ace_invalid.ace_deprecated {
  color: #CED2CF !important;
  background-color: #B798BF !important
}

.ace_fold {
  background-color: #7AA6DA !important;
  border-color: #DEDEDE !important
}

.ace_entity.ace_name.ace_function,
.ace_support.ace_function,
.ace_variable {
  color: #7AA6DA !important
}

.ace_support.ace_class,
.ace_support.ace_type {
  color: #E7C547 !important
}

.ace_heading,
.ace_markup.ace_heading,
.ace_string {
  color: #B9CA4A !important
}

.ace_entity.ace_name.ace_tag,
.ace_entity.ace_other.ace_attribute-name,
.ace_meta.ace_tag,
.ace_string.ace_regexp,
.ace_variable {
  color: #D54E53 !important
}

.ace_comment {
  color: #969896 !important
}

.ace_c9searchresults.ace_keyword {
  color: #C2C280 !important
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYFBXV/8PAAJoAXX4kT2EAAAAAElFTkSuQmCC) right repeat-y !important
}
/*ace editor>*/

/*<crayon-syntax-highlighter>*/
/*
Name: Tomorrow Night
Description: Based on https://github.com/ChrisKempson/Tomorrow-Theme/
Version: 1.1
Author: Aram Kocharyan
URL: http://aramk.com/
*/
{
	border-width: 1px !important;
	border-color: #000000 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #27292c !important;
}
.crayon-theme-tomorrow-night-inline {
	border-width: 1px !important;
	border-color: #000000 !important;
	border-style: solid !important;
	background: #27292c !important;
}
.crayon-table .crayon-nums {
	background: #4b4d4f !important;
	color: #898989 !important;
	border-right-width: 1px !important;
}
.crayon-striped-line {
	background: #202326 !important;
}
.crayon-striped-num {
	background: #3a3c3d !important;
	color: #979797 !important;
}
.crayon-marked-line {
	background: #303030 !important;
	border-width: 1px !important;
	border-color: #3a3a47 !important;
}
.crayon-marked-num {
	color: #9e9e9e !important;
	background: #434343 !important;
	border-width: 1px !important;
	border-color: #595959 !important;
}
.crayon-marked-line.crayon-striped-line {
	background: #2b2b2b !important;
}
.crayon-marked-num.crayon-striped-num {
	background: #383838 !important;
	color: #9e9e9e !important;
}
.crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.crayon-toolbar {
	background: #919191 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #2e2e2e !important;
	border-bottom-style: solid !important;
}
.crayon-toolbar > div {
	float: left !important;
}
.crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-title {
	color: #2a2a2a !important;
}
.crayon-language {
	color: #494949 !important;
}
.crayon-button {
}
.crayon-button:hover {
	background-color: #bcbcbc !important;
	color: #666;
}
.crayon-button.crayon-pressed:hover {
	background-color: #bcbcbc !important;
	color: #666;
}
.crayon-button.crayon-pressed {
	background-color: #626262 !important;
	color: #FFF;
}
.crayon-button.crayon-pressed:active {
	background-color: #626262 !important;
	color: #FFF;
}
.crayon-button:active {
	background-color: #bcbcbc !important;
	color: #FFF;
}
div .crayon-code .crayon-pre .crayon-c {
	color: #a7a8a2 !important;
}
.crayon-pre .crayon-s {
	color: #b2af75 !important;
}
.crayon-pre .crayon-p {
	color: #b85c00 !important;
}
.crayon-pre .crayon-ta {
	color: #e79663 !important;
}
.crayon-pre .crayon-k {
	color: #92afc1 !important;
}
.crayon-pre .crayon-st {
	color: #92afc1 !important;
}
.crayon-pre .crayon-r {
	color: #92afc1 !important;
}
.crayon-pre .crayon-t {
	color: #bba7c5 !important;
}
.crayon-pre .crayon-m {
	color: #bba7c5 !important;
}
div .crayon-code .crayon-pre .crayon-i {
	color: #c7c7c7 !important;
}
.crayon-pre .crayon-e {
	color: #e8ce91 !important;
}
.crayon-pre .crayon-v {
	color: #d87c7b !important;
}
.crayon-pre .crayon-cn {
	color: #e7a37a !important;
}
.crayon-pre .crayon-o {
	color: #99c9c4 !important;
}
.crayon-pre .crayon-sy {
	color: #c9d2d1 !important;
}
.crayon-pre .crayon-n {
	color: #666 !important;
	font-style: italic !important;
}
.crayon-pre .crayon-f {
	color: #999 !important;
}
.crayon-pre .crayon-h {
	color: #006fe0 !important;
}
.crayon-pre {
	color: #ffffff !important;
}
/*</crayon-syntax-highlighter>*/



/*<bitbucket>*/
#adg3-dialog {
  display: none !important;
}
/*</bitbucket>*/

/*<mozilla>*/
.icon-caret-right {
  background-color: transparent !important;
}
/*</mozilla>*/


/*<vimeo>*/
.iris_annotation--videovitals {
  background-color: transparent !important;
}
/*</vimeo>*/

/*<wikipedia>*/
img.mwe-math-fallback-image-inline, img.thumbimage[src$="svg.png"] {
  background-color: #b9b9b9 !important;
}
.mw-wiki-logo {
  opacity: 0.5 !important;
}
/*</wikipedia>*/

.mwe-math-fallback-png-inline {
  background-color: #b9b9b9 !important;
}


/*<goldendict>*/
.gdcollapsedarticle {
  background-image: none !important;
  background-color: #222222 !important;
}
/*</goldendict>*/


/*<all>*/
.absolute.right0.left0.width-90.min-h-100.zx-900 {
  background-color: transparent !important;
}
.MathJax span {
  background-color: transparent !important;
}
/*</all>*/


/*<aparat>*/
.video-item__thumb-wrapper .video-ratio {
  background-color: transparent !important;
}
/*</aparat>*/


.ace_layer ,
aside.sidebar /* js.tensorflow.org */ 
{
  background-color: transparent !important;
}

.line-highlight { /* mozilla.org */
  background-color: #80808029 !important;
}

.yvp-bottom-bar, /* yahoo.com */
#samples_area ,
#footerline ,
#footer_CodingArea /* coderbyte.com */
{
  background: transparent !important;
}

.crayon-main .crayon-code .crayon-striped-line ,
.wp_syntax .code pre {
  background: black !important;
}

.syntaxhighlighter.sh-confluence .code .plain, .syntaxhighlighter.sh-confluence .code .plain a {
  color : #727983 !important;
}

.jKbJyf.KRPLCc {
  background: transparent !important;
}
