* :not(.language-color) {
	background-color : black !important;
	color : #727983 !important;
	box-shadow: none !important;
	text-shadow: none !important;
	text-decoration: none !important;
  border-color: #212121 !important;
}

body {
  background-image: none !important;
}

a:link {
  /*color: #607088 !important;*/
  color: #40526b !important
}

a:visited {
  /*color: #727983 !important;*/
  color: #607088 !important;
}

a:hover {
  color : #757e89 !important;
}

a:clicked {
	color : #757e89 !important;
}

::selection {
	color:#8e96a0 !important;
	background-color: rgba(0, 3, 99, 0.19) !important
}

::-webkit-scrollbar-track,
 ::-webkit-scrollbar-corner {
  background-color: black;
}

::-webkit-scrollbar {
  cursor: default;
  width: 2px;
  height: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #0e0e0e;
}

img, a img {
	opacity : 0.50  !important;
	filter: alpha(opacity=50) !important; /* IE 8 */
	/*border: none !important;*/
}

input {
  border: 1px solid #313131 !important;
  background-image: none !important;
}

embed {
  opacity: 0.4;
  filter: invert();
}

/*<github> */
.plain, .readme h3 , .js-navigation-item, table.files td {
  border: none !important;
}
.btn {
  background-image: none !important;
}
.markdown-body {
  background-color: black !important;
  border: none !important;
}

div.border-gray-light {
    border-color: #313131 !important;
}
div.border-top {
    border-top: 1px #313131 solid !important;
}
.color-block.language-color, .repository-lang-stats-graph {
  opacity: 0.5 !important;
}
.dropdown-caret {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}

.markdown-body .highlight pre {
  /*background-color: #060606 !important;*/
  border: 1px solid #313131 !important;
}

.user-profile-sticky-bar::after {
  background-color: black !important;
}

li.border {
  border-color: #212121 !important;
}

/*!
 * GitHub Dark v0.5.0
 * Copyright (c) 2012 - 2017 GitHub, Inc.
 * Licensed under MIT (https://github.com/primer/github-syntax-theme-generator/blob/master/LICENSE)
 */

.pl-c /* comment, punctuation.definition.comment, string.comment */ {
  color: #959da5 !important;
  /*color: #AEAEAE !important;*/
  /*font-style: italic !important;*/
}

.pl-c1 /* constant, entity.name.constant, variable.other.constant, variable.language, support, meta.property-name, support.constant, support.variable, meta.module-reference, markup.quote, markup.raw, meta.diff.header */,
.pl-s .pl-v /* string variable */ {
  color: #c8e1ff !important;
}

.pl-e /* entity */,
.pl-en /* entity.name */ {
  color: #b392f0 !important;
}

.pl-smi /* variable.parameter.function, storage.modifier.package, storage.modifier.import, storage.type.java, variable.other */,
.pl-s .pl-s1 /* string source */ {
  color: #f6f8fa !important;
}

.pl-ent /* entity.name.tag */ {
  color: #7bcc72 !important;
}

.pl-k /* keyword, storage, storage.type */ {
  color: #ea4a5a !important;
}

.pl-s /* string */,
.pl-pds /* punctuation.definition.string, source.regexp, string.regexp.character-class */,
.pl-s .pl-pse .pl-s1 /* string punctuation.section.embedded source */,
.pl-sr /* string.regexp */,
.pl-sr .pl-cce /* string.regexp constant.character.escape */,
.pl-sr .pl-sre /* string.regexp source.ruby.embedded */,
.pl-sr .pl-sra /* string.regexp string.regexp.arbitrary-repitition */ {
  color: #79b8ff !important;
}

.pl-v /* variable */,
.pl-ml /* markup.list, sublimelinter.mark.warning */ {
  color: #fb8532 !important;
}

.pl-bu /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */ {
  color: #d73a49 !important;
}

.pl-ii /* invalid.illegal */ {
  color: #fafbfc !important;
  background-color: #d73a49 !important;
}

.pl-c2 /* carriage-return */ {
  color: #fafbfc !important;
  background-color: #d73a49 !important;
}

.pl-c2::before /* carriage-return */ {
  content: "^M";
}

.pl-sr .pl-cce /* string.regexp constant.character.escape */ {
  font-weight: bold !important;
  color: #7bcc72 !important;
}

.pl-mh /* markup.heading */,
.pl-mh .pl-en /* markup.heading entity.name */,
.pl-ms /* meta.separator */ {
  font-weight: bold !important;
  color: #0366d6 !important;
}

.pl-mi /* markup.italic */ {
  font-style: italic !important;
  color: #f6f8fa !important;
}

.pl-mb /* markup.bold */ {
  font-weight: bold !important;
  color: #f6f8fa !important;
}

.pl-md /* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */ {
  color: #b31d28 !important;
  background-color: #ffeef0 !important;
}

.pl-mi1 /* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */ {
  color: #176f2c !important;
  background-color: #f0fff4 !important;
}

.pl-mc /* markup.changed, punctuation.definition.changed */ {
  color: #b08800 !important;
  background-color: #fffdef !important;
}

.pl-mi2 /* markup.ignored, markup.untracked */ {
  color: #2f363d !important;
  background-color: #959da5 !important;
}

.pl-mdr /* meta.diff.range */ {
  font-weight: bold !important;
  color: #b392f0 !important;
}

.pl-mo /* meta.output */ {
  color: #0366d6 !important;
}

.pl-ba /* brackethighlighter.tag, brackethighlighter.curly, brackethighlighter.round, brackethighlighter.square, brackethighlighter.angle, brackethighlighter.quote */ {
  color: #ffeef0 !important;
}

.pl-sg /* sublimelinter.gutter-mark */ {
  color: #6a737d !important;
}

.pl-corl /* constant.other.reference.link, string.other.link */ {
  text-decoration: underline !important;
  color: #79b8ff !important;
}
/*</github> */

/*<medium> */
.u-backgroundWhite {
  background: black !important;
}
article, div.u-backgroundWhite, div.u-tintBgColor {
  background-color: black !important;
}
/*</medium> */

/*<stackoverflow> */
.top-bar {
  border:none !important;
}
code {
  background-color: #101010 !important;
  /*border: 1px solid #585757 !important;*/
  color: #686767 !important;
}

pre > code {
  background-color: black !important;
}

kbd {
  background-color: black !important;
  box-shadow: none !important;
  border-color: #828282 !important;
  text-shadow: none !important;
  color: gray !important;
}

div.answered-accepted {
  background-color: #001808 !important;
}

#newsletter-ad {
  background: none !important;
}

div.clc-jobs-multi>.middle>ul .job-wrap span.post-tag {
  background-color: black !important;
  border: 1px solid gray !important;
}

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #65B042 !important; } /* string  - green */
pre .kwd, code .kwd { color: #E28964 !important; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE !important; font-style: italic !important; } /* comment - gray */
pre .typ, code .typ { color: #89bdff !important; } /* type - light blue */
pre .lit, code .lit { color: #3387CC !important; } /* literal - blue */
pre .pun, code .pun { color: #fff !important; } /* punctuation - white */
pre .pln, code .pln { color: #fff !important; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff !important; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b !important; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042 !important; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC !important; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #000 !important;
	border-radius: 8px !important;
}

pre.prettyprint {
	width: 95% !important;
	margin: 1em auto !important;
	padding: 1em !important;
	white-space: pre-wrap !important;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0 !important; margin-bottom: 0 !important; color: #AEAEAE !important; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none !important; }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060 !important; }
  pre .kwd, code .kwd { color: #006 !important; font-weight: bold !important; }
  pre .com, code .com { color: #600 !important; font-style: italic !important; }
  pre .typ, code .typ { color: #404 !important; font-weight: bold !important; }
  pre .lit, code .lit { color: #044 !important; }
  pre .pun, code .pun { color: #440 !important; }
  pre .pln, code .pln { color: #000 !important; }
  pre .tag, code .tag { color: #006 !important; font-weight: bold !important; }
  pre .atn, code .atn { color: #404 !important; }
  pre .atv, code .atv { color: #060 !important; }
}

/*</stackoverflow > */


/*<google> */
html, content, c-wiz {
  background-color: black !important;
}
div#search {
  border: none !important;
}
/*</google> */

main, figure {
  background-color: black !important;
}

/*<vimium>*/
div > .vimiumHintMarker {
  background: black !important;
  border-style: solid !important;
  border-width: 1px !important;
}

div > .vimiumHintMarker span {
  /*color: black !important;*/
  text-shadow: none;
  color: white !important;
}
/*</vimium>*/


/*<twitter>*/
iframe {
  opacity: 0.5;
}
/*.TwitterCardsGrid .TwitterCardsGrid-col--12 {*/
  /*background: #545454 !important;*/
  /*border-color: #686868 !important;*/
/*}*/
/*</twitter>*/

/*<chromium browser>*/
#page-header {
  background-image: none !important;
}
#page-header h1::after{
  background-color: #7b7a7a !important;
}
button {
  box-shadow: none !important;
  text-shadow: none !important;
}
dialog#drawer::shadow , settings-animated-pages {
  background-color: black !important;
}
input {
  box-shadow: none !important;
}
/*</chromium browser>*/

/*<digikala>*/
.products__item-wrapper {
  background-color: black !important;
}
/*</digikala>*/


/*<bootstrap theme>*/
.nav-link.active, .btn.btn-primary {
  border: 1px solid #007bff !important;
}
.btn.btn-secondary {
  border: 1px solid #868e96 !important;
}
.btn.btn-success {
  border: 1px solid #28a745 !important;
}
.navbar {
  border-bottom: 1px solid #464545 !important;
}
.navbar.bg-dark, div.bg-dark, div.bg-light {
  background-color: black !important;
}
.btn, .panel, div.border-white {
  border: 1px solid #464545 !important;
}
/*</bootstrap theme>*/

